body
{
background-color: 	#6600FF;
font-family: Verdana;
font-size: 24px;
color: white;
}
#container
{
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:50px;
	background-color: #9999FF;
	margin: auto;
    width: 1000px;
}
#aktualnaData
{
	  text-align: center;
    border: 3px solid #000066;
}
#dniDoWydarzenia
{
	  text-align: center;
    border: 3px solid #000066;
}
#doWydarzenia
{
	  text-align: center;
    border: 3px solid #000066;
}

#dataWydarzenia
{
	  text-align: center;
    border: 3px solid #000066;
}

#description
{
	text-align: center;
	border: 3px solid #000066;
}

#footer
{
	color: #000066;
	margin-top: 50px;
	padding: 10px;
	font-size: 12px;
	text-align: center;
    border: 3px solid blue;
	letter-spacing: 3px;
}
#topBar
{
	
	color: #000066;
	padding: 10px;
	font-size: 18px;
	text-align: center;
    border: 3px solid blue;
	letter-spacing: 3px;
	margin-bottom: 50px;
}
